automacao-rest-assured-api/src/test/resources/schemas/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="cpf" type="xs:string"/>
                <xs:element name="ativo" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
